<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify-obs</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <span class="span">
        <div class="div">
            <a href="/login">
                <div class="div-2">
                    <div class="column">
                        <img loading="lazy"
                            srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/1982px-Spotify_icon.svg.png"
                            class="img" />
                    </div>
                    <div class="column-2">
                        <div class="div-3">Spotify로 로그인하기</div>
                    </div>
                </div>
            </a>
        </div>
    </span>
</body>

</html>